<!doctype html>
<html lang="en">
{% block head %}
  <title>DSCOVR - Image Browser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-5.0.2.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

  <body>

  <div id="content" class="container">
  {% block content %}
      <div class="jumbotron headings">
        <br />
        <h1>DSCOVR: EPIC</h2>
        <br />
      </div>
  {% endblock %}
  </div>

  <div class="footer">
  {% block footer %}
    {% if request.path != "/" %}
      <p><a href="/">Home</a></p>
    {% endif %}
      <p><a href="https://epic.gsfc.nasa.gov/" target="_blank">DSCOVR EPIC Project</a></p>
  {% endblock %}
  </div>

  </body>

</html>

